{% extends 'base.html' %}

{% block title %}Users List{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="jumbotron">
    <h2>Point of Sale (POS) system </h2>
    <hr class="my-4">
   <div style="text-align:justify;"> The Point of Sale (POS) system is a web-based application built using Python and the Flask
web framework. Its primary purpose is to facilitate sales and inventory management for
small to mediumsized businesses. This system allows users to manage products, process
sales, generate receipts, and monitor inventory. It's designed to enhance the efficiency
and accuracy of sales transactions.
   </div> 
   
  </div>
</div>
 {% endblock %}
